# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
**/doc/api/
**/ios/Flutter/.last_build_id
**/android/.gradle/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
*.iml
*.log
.DS_Store

# Credentials
.env
*.token
firebase_options.dart.bak
